*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary:#083b4c;
    --light-number:#1389b2;
    --fizz--color:#0cd6a1;
    --buzz--color:#ffd166;
    --fizzbuzz--color: #f0466f;
}

h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 0px;
}
body{
    background-color: var(--primary);  
    color: white;
}
.container{
   
    max-width: 1200px;
    margin: auto;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

li{
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-number);
}

.fizz{
    background-color: var(--fizz--color);
}

.buzz{
    background-color: var(--buzz--color);
}

.fizzbuzz{
    background-color: var(--fizzbuzz--color);
}