.container{
    width: 80%;
    margin: auto;
    max-width: 100px;
    background-color: aquamarine;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    width: 100px;
    height: 100px;
    list-style: none;
}
